In [1]:
# ingest the data

In [2]:
import pandas as pd

In [6]:
data = pd.read_csv(r'E:\Projects\FSDM-project-Setup\notebooks\data\gemstone.csv')

In [7]:
data.sample(7)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
37576,37576,1.01,Ideal,E,SI2,62.7,56.0,6.40,6.35,4.00,4439
52174,52174,1.20,Ideal,H,VS2,61.4,55.0,6.86,6.86,4.21,7367
46227,46227,0.29,Good,E,VVS1,60.2,61.0,4.24,4.28,2.56,431
84207,84207,1.02,Ideal,D,SI1,61.3,56.0,6.54,6.58,4.02,5546
66264,66264,0.32,Ideal,G,VVS2,62.1,54.0,4.38,4.41,2.73,730
37540,37540,0.42,Ideal,F,VVS1,61.4,56.0,4.81,4.83,2.96,1231
70978,70978,0.65,Ideal,E,VS1,62.8,54.0,5.56,5.58,3.49,2210

In [9]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [11]:
data.duplicated().sum()

0

In [12]:
data.shape

(193573, 11)

In [13]:
cat_col=data.columns[data.dtypes=="object"]
num_col=data.columns[data.dtypes!="object"]

In [14]:
data[cat_col]

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]

In [16]:
data[cat_col].describe()

           cut   color clarity
count   193573  193573  193573
unique       5       7       8
top      Ideal       G     SI1
freq     92454   44391   53272

In [17]:
data[num_col].describe()

,id,carat,depth,table,x,y,z,price
count,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000
mean,96786.000000,0.790688,61.820574,57.227675,5.715312,5.720094,3.534246,3969.155414
std,55879.856166,0.462688,1.081704,1.918844,1.109422,1.102333,0.688922,4034.374138
min,0.000000,0.200000,52.100000,49.000000,0.000000,0.000000,0.000000,326.000000
25%,48393.000000,0.400000,61.300000,56.000000,4.700000,4.710000,2.900000,951.000000
50%,96786.000000,0.700000,61.900000,57.000000,5.700000,5.720000,3.530000,2401.000000
75%,145179.000000,1.030000,62.400000,58.000000,6.510000,6.510000,4.030000,5408.000000
max,193572.000000,3.500000,71.600000,79.000000,9.650000,10.010000,31.300000,18818.000000

In [19]:
data[cat_col]["cut"].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [20]:
data[cat_col]["color"].value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [21]:
data[cat_col]["clarity"].value_counts()

clarity
SI1     53272
VS2     48027
VS1     30669
SI2     30484
VVS2    15762
VVS1    10628
IF       4219
I1        512
Name: count, dtype: int64